<div class="center">
  <h2>XQ Sez</h2>
  <div id="moveMe">
    <button class="generate_button">Generate XQ</button>
  </div>
  <div class="mtm">
    <%= link_to 'add word', '/words/new' %>
  </div>
</div>
