

<div class="center">

  <button class="generate_button btn">Generate XQ</button>

  <div id="xq" class="excuse_container mtm"></div>

  <!-- <div class="mtm">
    <%= link_to 'add word', '/words/new' %>
  </div> -->
</div>
