

<div class="center">

  <!--<h2>XQ Sez</h2>-->
    <button class="generate_button">Generate XQ</button>
    <br><br><Br><br><br><br><br>

  <div id="xq" class="excuse_container mtm"></div>

  <div class="mtm">
    <%= link_to 'add word', '/words/new' %>
  </div>
</div>
