

<div class="center">

<<<<<<< HEAD
  <%= image_tag asset_path('xqbtn.png'), class: "generate_button" %>
=======

>>>>>>> 656cd8b1087d5111d847a6c9d3561f9ab85f329b
  <div id="xq" class="excuse_container mtm"></div>

  <!-- <div class="mtm">
    <%= link_to 'add word', '/words/new' %>
  </div> -->
</div>
