

<div class="center">

  <%= image_tag asset_path('xqbtn.png'), class: "generate_button"%>

  <div id="xq" class="excuse_container mtm"></div>

  <!-- <div class="mtm">
    <%= link_to 'add word', '/words/new' %>
  </div> -->
</div>
